@tailwind base;
@tailwind components;

@layer components {
  .btn-success {
    @apply inline-block h-11 items-center justify-center rounded-xl bg-brand500 px-[18px] 
    py-[10px] text-white disabled:bg-gray-200;
  }
}
@tailwind utilities;

* {
  margin: 0;
  font-family: var(--font-inter);
}

html {
  background-color: #f0f0f0;
}

.content {
  max-width: 430px;
  margin: auto;
  background: white;
  height: 100dvh;
}

.pinPoint {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.header-container-map {
  position: absolute;
  top: 16px;
  left: 21px;
  right: 21px;
  z-index: 101;
  width: 94%;
}

.bg-patern {
  background-image: url(https://i.ibb.co/3c0P6T7/Bg.png);
  background-size: cover;
  background-position: center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: rgb(107 114 128 / var(--tw-text-opacity));
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
