@tailwind base;
@tailwind components;

@layer components {
  .btn-success {
    @apply bg-brand500 flex h-11 w-full items-center justify-center rounded-xl px-[18px] py-[10px] text-white disabled:bg-gray-200;
  }
}
@tailwind utilities;

* {
  margin: 0;
  font-family: var(--font-inter);
}

html {
  background-color: #f0f0f0;
}

.content {
  max-width: 430px;
  margin: auto;
  background: white;
  height: 100vh;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: rgb(107 114 128 / var(--tw-text-opacity));
}
